* {
  margin: 0;
  padding: 0;
}
body {
  background: hsl(223.64deg 45.83% 9.41%);
}
.main {
  margin-top: 150px;
  margin-left: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.profile-content {
  background: hsl(246.22deg 79.61% 59.61%);
  border-radius: 15px;
  width: 250px;
  height: 280px;
  padding: 20px 10px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  position: relative;
  transform: translateZ(-50px);
  transform: translateY(17px);
}
.profile-content h1 {
  font-size: 40px;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}
.profile-content img {
  width: 90px;
  height: 90px;
  border: 3px solid #fff;
  border-radius: 50%;
}
.choose {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 24px;

  background: #1d204b;
  width: 270px;
  height: 120px;
  border-radius: 0 0 15px 15px;
}
.choose p {
  padding-left: 10px;
  color: rgb(49, 51, 77);
}
.choose p:hover {
  color: #fff;
  cursor: pointer;
}
.result-dash{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.card-image{
transform: translateY(30px);
padding-left: 170px;
/* transform: translateX(180px); */
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    height: 145px;
    padding-top: 20px;
    padding-left:20px ;
    border-radius: 15px;
    color: #fff;
    transform: translateZ(50px);
    background: #1d204b ;
}
.card-content h2{
    font-size: 45px;
}
.card-content p{
    color: rgb(49, 51, 77);
}